#mainDiv{
    width:90vh;
    height:90vh;
    margin:auto;
}

#creditInput{
    padding-top:20vh;
    margin:auto;
    text-align:center;
    width:20vh;
    height:20vh;
}

#creditInput label{
    color:rgba(225,225,6,1);
    font-size:24px;
}

#creditInput input{
    width:20vh;
    height:2vh;
    margin-top:10px;
}

addButton{
    color:rgba(225,225,6,1);
    background-color:black;
    border-radius:15px;
    border:1px solid white;
    margin-top:10px;
} 
