{% load static %}
<!DOCTYPE html>

<html>
<head>
<link rel="stylesheet" href="{% static 'genStyle.css' %}">
<title>Codename: BLACKJACK</title>
<script type ="text/javascript" src="{% static 'phaserWeb.js' %}"></script>
</head>
<body>
    <div class="navbar">
        <button onclick="window.location.href='{% url 'index' %}';"> Home </button>
        <button onclick="window.location.href='{% url 'blackjack' %}';"> Blackjack </button>
        <button onclick="window.location.href='{% url 'slots' %}';"> Slots </button>
        <button onclick="window.location.href='{% url 'wheel' %}';"> Free Credit Wheel </button>
        <button onclick="window.location.href='{% url 'addcredits' %}';"> Add Credits </button>
        {% if user.is_authenticated %}
            <button id="leftSideBar" onclick="window.location.href='{% url 'logout' %}';"> Sign Out </button>
	    {% if user.profile.credits %}
                <button id="leftSideBar"> Credits: {{ user.profile.credits }} </button>
            {% else %}
		<button id="leftSideBar"> Credits: 0 </button>
	    {% endif %}
            <button id="leftSideBar"> Welcome, {{ user.username }} </button>
        {% else %}
            <button id="leftSideBar" onclick="window.location.href='{% url 'login' %}';"> Sign In </button>
        {% endif %}
    </div>

    <script type="module">

    //This file will be sent to blackjack.html (index) as a module that will run the game in the web browser

        import Phaser from {% static 'phaser.js' %}

    //import the game scene into our main program
        import Game from {% static 'Game.js' %}

    export default new Phaser.Game({
        type: Phaser.AUTO,
        width: 720,
        height: 480,

        // set the scene to be Game.js
        scene: Game,
        //set the physics system to arcade to use the accelerateTo function (This will come in handy when animating dealing cards from the deck)
        physics: {
            default: 'arcade'
        }
    })

    </script>




</body>
<foot>
</foot>
</html>
