{% load static %}
<!DOCTYPE html>

<html>
<head>
<link rel="stylesheet" href="{% static 'genStyle.css' %}">
<title>Codename: BLACKJACK</title>

</head>
<body>
    <div class="navbar">
        <button onclick="window.location.href='{% url 'index' %}';"> Home </button>
        <button onclick="window.location.href='{% url 'blackjack' %}';"> Blackjack </button>
        <button onclick="window.location.href='{% url 'slots' %}';"> Slots </button>
        <button onclick="window.location.href='{% url 'wheel' %}';"> Free Credit Wheel </button>
        {% if user.is_authenticated %}
            <button id="leftSideBar" onclick="window.location.href='{% url 'logout' %}';"> Sign Out </button>
	    {% if user.profile.credits %}
                <button id="leftSideBar"> Credits: {{ user.profile.credits }} </button>
            {% else %}
		<button id="leftSideBar"> Credits: 0 </button>
	    {% endif %}
            <button id="leftSideBar"> Welcome, {{ user.username }} </button>
        {% else %}
            <button id="leftSideBar" onclick="window.location.href='{% url 'login' %}';"> Sign In </button>
        {% endif %}
    </div>


    
</body>
<foot>
</foot>
</html>
