{% load static %}
<!DOCTYPE html>

<html>
<head>

<link rel="stylesheet" href="{% static 'genStyle.css' %}">
<title>Codename: DEMACIA</title>

</head>
<body>
    <div class="navbar">
        <button onclick="window.location.href='{% url 'index' %}';"> Home </button>
        <button onclick="window.location.href='{% url 'blackjack' %}';"> Blackjack </button>
        <button onclick="window.location.href='{% url 'slots' %}';"> Slots </button>
        <button onclick="window.location.href='{% url 'wheel' %}';"> Free Credit Wheel </button>
        {% if user.is_authenticated %}
            <button id="leftSideBar"> Welcome, {{ user.username }} </button>
            <button id="leftSideBar" onclick="window.location.href='{% url 'logout' %}';"> Sign Out </button>
        {% else %}
            <button id="leftSideBar" onclick="window.location.href='{% url 'login' %}';"> Sign In </button>
        {% endif %}
    </div>


    
</body>
<foot>
</foot>
</html>

<!-- 
        Test
        
        AUSTINS OLD CODE

        {% if games_list %}
        <ul>
        {% for game in games_list %}
            <li><a href="/home/{{ game.gamename }}/">{{ game.gamename }}</a></li>
        {% endfor %} 
        </ul>
    {% else %}
        <p>No games are available.</p>
    {% endif %}
-->
