{% load static %}
<!DOCTYPE html>

<html>
<head>

<link rel="stylesheet" href="{% static 'genStyle.css' %}">
<link rel="stylesheet" href="{% static 'indexStyle.css' %}">
<title>Codename: DEMACIA</title>

</head>
<body>
    <div class="navbar">
        <button onclick="window.location.href='{% url 'index' %}';"> Home </button>
        <button onclick="window.location.href='{% url 'blackjack' %}';"> Blackjack </button>
        <button onclick="window.location.href='{% url 'slots' %}';"> Slots </button>
        <button onclick="window.location.href='{% url 'wheel' %}';"> Free Credit Wheel </button>
        {% if user.is_authenticated %}
            <button id="leftSideBar" onclick="window.location.href='{% url 'logout' %}';"> Sign Out </button>
	    {% if user.profile.credits %}
                <button id="leftSideBar"> Credits: {{ user.profile.credits }} </button>
            {% else %}
		<button id="leftSideBar"> Credits: 0 </button>
	    {% endif %}
            <button id="leftSideBar"> Welcome, {{ user.username }} </button>
        {% else %}
            <button id="leftSideBar" onclick="window.location.href='{% url 'login' %}';"> Sign In </button>
        {% endif %}
    </div>

    <div class="mainPage">
        <div class="maindiv" id="left">
left div
        </div>

        <div class="maindiv" id="center">
        <p id="title1"> CODENAME : DEMACIA </span></br>
        <span id="title2"> Spin to Win </span></br>

        <table id="menuTable">
            <tr>
              <td><button class="menuButton" id="blackJackButton">Blackjack</button></td>
              <td><button class="menuButton" id="slotsButton">Slots</button></td>
            </tr>
            <tr>
              <td><button class="menuButton" id="freeButton">Free Credit Wheel</button></td>
              <td><button class="menuButton" id="addButton">Add Credits</button></td>
            </tr>
          </table>
        </div>

        <div class="maindiv" id="right">
right div
        </div>

        
    </div>
    
</body>
<foot>
</foot>
</html>

<!-- 
        Test
        
        AUSTINS OLD CODE

        {% if games_list %}
        <ul>
        {% for game in games_list %}
            <li><a href="/home/{{ game.gamename }}/">{{ game.gamename }}</a></li>
        {% endfor %} 
        </ul>
    {% else %}
        <p>No games are available.</p>
    {% endif %}
-->
