{% load static %}
<!DOCTYPE html>

<html>
<head>

<style>
<link rel="stylesheet" href="{% static 'genStyle.css' %}">
<link rel="stylesheet" href="{% static 'signStyle.css' %}">
</style>

<title>Codename: DEMACIA</title>



</head>
<body>

    <div class="navbar">
        <button onclick="window.location.href='{% url 'index' %}';"> Home </button>
        <button onclick="window.location.href='{% url 'blackjack' %}';"> Blackjack </button>
        <button onclick="window.location.href='{% url 'slots' %}';"> Slots </button>
        <button onclick="window.location.href='{% url 'wheel' %}';"> Free Credit Wheel </button>
        {% if user.is_authenticated %}
            <button id="leftSideBar"> Welcome, {{ user.username }} </button>
            <button id="leftSideBar" onclick="window.location.href='{% url 'logout' %}';"> Sign Out </button>
        {% else %}
            <button id="leftSideBar" onclick="window.location.href='{% url 'login' %}';"> Sign In </button>
        {% endif %}
    </div>
    <div id="navSpace"></div>

    <form id="signForm" method="post">
	{% csrf_token %}
        <div class="container">
          <h1>Sign Up</h1>
          <p>Please fill in this form to create an account.</p>
          <hr>
      
          {{ form.as_p }}

          <div class="clearfix">
            <button type="submit" class="signupbtn" value="Submit">Sign Up</button>
          </div>
          <h4>Already Have an Account?? </br>
          <a href = "{% url 'login' %}">Sign In Here</a> </h4>
        </div>
      </form>

</body>
</html>



<!--

    <form method ='post'>
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value = "Submit">
    </form>
 
    <h3>Already Have an Account??</h3>
    <a href = "{% url 'login' %}">Sign In Here</a>

-->
