{% load static %}
<!DOCTYPE html>

<html>
<head>

    <link rel="stylesheet" href="{% static 'genStyle.css' %}">
    <link rel="stylesheet" href="{% static 'slotStyle.css' %}">
    <title>Codename: SPIN TO WIN</title>
    <script type="text/javascript" src="{% static 'slotsJava.js' %}"></script>

</head>

<body>
    <div class="navbar">
        <button onclick="window.location.href='{% url 'index' %}';"> Home </button>
        <button onclick="window.location.href='{% url 'blackjack' %}';"> Blackjack </button>
        <button onclick="window.location.href='{% url 'slots' %}';"> Slots </button>
        <button onclick="window.location.href='{% url 'wheel' %}';"> Free Credit Wheel </button>
        <button onclick="window.location.href='{% url 'addcredits' %}';"> Add Credits </button>
        {% if user.is_authenticated %}
        <button id="leftSideBar" onclick="window.location.href='{% url 'logout' %}';"> Sign Out </button>
        {% if user.profile.credits %}
	{{ user.profile.credits|json_script:"creds" }}
        <button id="leftSideBar"> Credits: {{ user.profile.credits }} </button>
        {% else %}
        <button id="leftSideBar"> Credits: 0 </button>
        {% endif %}
        <button id="leftSideBar"> Welcome, {{ user.username }} </button>
        {% else %}
        <button id="leftSideBar" onclick="window.location.href='{% url 'login' %}';"> Sign In </button>
        {% endif %}
    </div>

    <div class="slot_machine">
        <div class="reel"></div>
        <div class="reel"></div>
        <div class="reel"></div>
        <div class="reel"></div>
        <div class="reel"></div>
    </div>

    <br>

   <input type="number" min="1.0" max="10000.0" value="10.0" name="bet" id="bet">

   <div class="button_wrap">
       <br>
        <button type="button" class="button_a button_b" onclick="rollAll(document.getElementById('bet').value)" id="slots_button">SPIN!</button>
   </div>

</body>
<foot>
</foot>
</html>
