{% load static %}
<!DOCTYPE html>

<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="{% static 'genStyle.css' %}">
<link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap"
      rel="stylesheet"
/>

<link rel="stylesheet" href="{% static 'wheelstyle.css' %}" />
<title>Codename: FREE CREDITS</title>

</head>
<body>
    <div class="navbar">
        <button onclick="window.location.href='{% url 'index' %}';"> Home </button>
        <button onclick="window.location.href='{% url 'blackjack' %}';"> Blackjack </button>
        <button onclick="window.location.href='{% url 'slots' %}';"> Slots </button>
        <button onclick="window.location.href='{% url 'wheel' %}';"> Free Credit Wheel </button>
        <button onclick="window.location.href='{% url 'addcredits' %}';"> Add Credits </button>
        {% if user.is_authenticated %}
            <button id="leftSideBar" onclick="window.location.href='{% url 'logout' %}';"> Sign Out </button>
	    {% if user.profile.credits %}
                <button id="leftSideBar"> Credits: {{ user.profile.credits }} </button>
            {% else %}
		<button id="leftSideBar"> Credits: 0 </button>
	    {% endif %}
            <button id="leftSideBar"> Welcome, {{ user.username }} </button>
        {% else %}
            <button id="leftSideBar" onclick="window.location.href='{% url 'login' %}';"> Sign In </button>
        {% endif %}
    </div>

    <div class="wrapper">
      <div class="container">
        <canvas id="wheel"></canvas>
        <button id="spin-btn">Spin</button>
        <img src="https://cutewallpaper.org/24/yellow-arrow-png/155564497.jpg" alt="spinner arrow" />
      </div>
      <div id="final-value">
        <p>Click On The Spin Button To Start</p>
      </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-datalabels/2.1.0/chartjs-plugin-datalabels.min.js"></script>
    <script src="{% static 'wheelscript.js' %}"></script>
    
</body>
<foot>
</foot>
</html>
