.mainPage{
    height:100vh;
}

.maindiv{
    padding-top:0%;
    margin-top:10%;
    position:absolute;
    text-align:center;
    color: rgba(225,255,6,1);
}

#left{
    width:35vh;
    left:2vh;
    padding-top:2%;
}

#center{
    width:50%;
    float:center;
    margin: 5% 25% 0% 25%;
}

#right{
    width:35vh;
    right:2vh;
    padding-top:2%;
    text-align:center;
}

#menuTable{
    padding-top:3%;
    text-align:center;
    margin:auto;
}

#menuTable tr{
    height:30vh;
}

#menuTable td{
    width:35vh;
}

#title1{
    font-size:64px;
    font-weight:bold;
}

#title2{
    font-size:48px;
}

#sideTitle{
    font-weight:bold;
    font-size:22px;
}

.menuButton{
    -webkit-text-stroke: 2px black;
    color:white;
    font-size:36px;
    font-weight:bold;
    width:30vh;
    height:30vh;
    border-radius:30px;
    border: 1px solid rgba(225,255,6,1);
    background-size:cover;
    background-position:center;
    z-index:2;
}

.menuButton:hover{
    font-size:42px;
}
  
#itext{
    font-size:16px;
}