.mainPage{
    height:100vh;
}

.maindiv{
    height:100vh;
    margin-top:5%;
    padding-top:3%;
    position:absolute;
    text-align:center;
}

#center p{
    color:yellow;
}

#left{
    width:30vh;
    left:2vh;
}

#center{
    width:50%;
    float:center;
    margin: 5% 25% 0% 25%;
    border:solid black 2px;
}

#right{
    width:35vh;
    right:2vh;
    text-align:left;
}

#menuTable{
    padding-top:3%;
    text-align:center;
    margin:auto;
}

#menuTable tr{
    height:30vh;
}

#menuTable td{
    width:35vh;
}

#title1{
    font-size:64px;
    font-weight:bold;
}

#title2{
    font-size:48px;
}

.menuButton{
    -webkit-text-stroke: 2px black;
    color:white;
    font-size:36px;
    font-weight:bold;
    width:30vh;
    height:30vh;
    border-radius:30px;
    border: 1px solid white;
    background-size:cover;
    background-position:center;
}

.menuButton:hover{
    font-size:42px;
}
  
#itext{
    font-size:16px;
}