@font-face {
  font-family: "Comfortaa";
  src: url("/static/Comfortaa-Regular.ttf");
}

body {
  font-family:"Comfortaa";
  background-image: url("https://media.istockphoto.com/id/117008981/photo/green-felt.jpg?s=612x612&w=0&k=20&c=OWtm7WNzE3V54NKv0SB-Cvp3bwzvGn_ATM7UqevFexY=");
  background-size:2px;
}

.navbar {
  overflow: hidden;
  background-color: black;
  margin-left:-0.8%;
  position: fixed; 
  top: 0; 
  width: 100.5%; 
  z-index:2;
}

.navbar button {
  float: left;
  border:1px black;
  display: block;
  background-color:black;
  color: rgba(225,255,6,1);
  font-family:'Comfortaa';
  font-size:15px;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  z-index:3;
}

.navbar button:hover{
  background:khaki;
  color:black;
}

.navbar #leftSideBar:hover{
  background:khaki;
  color:black;
}

.navbar #leftSideBar{
  float: right;
  display: block;
  color: #e1ff06;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#navSpace{
  height:5%;
}

hr.hrcolor{
  border: 1px solid rgba(225,255,6,1);
}