html, body {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.slot_machine {
    width: 474px;
    height: 247px;
    border: 7.9px solid black;
    padding: 7.9px;
    display: flex;
    justify-content: space-between;
}

    .slot_machine .reel {
        border: 6px solid black;
        width: 79px;
        height: 237px;
        background-image: url(https://assets.codepen.io/439000/slotreel.webp);
        background-repeat: repeat-y;
        background-position: 0 0;
    }

input[type=number] {
    border: 2px inset #ccc;
    border-radius: 8px;
}

    input[type=number]:focus {
        border: 2px inset #444;
        border-radius: 8px;
    }

.button_b {
    position: relative;
    border-radius: 16px;
    padding: 0px 27px;
    color: #ffffff;
    display: inline-block;
    font: normal bold 26px/1 "Open Sans", sans-serif;
    text-align: center;
}

.button_a {
    background-color: #bf9000;
    color: #ffffff;
}

    .button_a:hover {
        background-color: #dca600;
    }
