html, body {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.slot_machine {
    width: 474px;
    height: 247px;
    border: 7.9px solid black;
    padding: 7.9px;
    display: flex;
    justify-content: space-between;
}

    .slot_machine .reel {
        border: 6px solid black;
        width: 79px;
        height: 237px;
        background-image: url(https://assets.codepen.io/439000/slotreel.webp);
        background-repeat: repeat-y;
        background-position: 0 0;
    }

.slots_input {

    position: center;
    align-items: center;

}
