html, body {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.slot_machine {
    width: 474px;
    height: 247px;
    border: 7.9px solid black;
    padding: 7.9px;
    display: flex;
    justify-content: space-between;
}

    .slot_machine .reel {
        border: 6px solid black;
        width: 79px;
        height: 237px;
        background-image: url(https://assets.codepen.io/439000/slotreel.webp);
        background-repeat: repeat-y;
        background-position: 0 0;
    }

        .slot_machine .reel::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: linear-gradient(rgba(0, 0, 0, 0.4) 0%, transparent 30%, transparent 70%, rgba(0, 0, 0, 0.4) 100%);
            box-shadow: inset 0 0 6px 2px rgba(0, 0, 0, 0.3);
        }
 
